$font-titulo : "Raleway", sans-serif;
$font-texto : "IBM Plex Mono", monospace;

$cor-bg-body : #080808;
$cor-bg-header : #1B1B1B;
$cor-text-body : #9C9C9C;
$cor-bg-button : #3F8E00;
$cor-border-button : #62BA1B;
$cor-text-title : #FFFFFF;

body {
    background-color: $cor-bg-body;
    font-family: $font-texto;
    color: $cor-text-body;
    
}

.header {
    .container{              
        box-sizing: border-box;              
        background-color: $cor-bg-header;
        height: 74px;
        padding-left: 100px;
        padding-right: 100px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}

.menu-navegacao {
    a {
        font-size: 14px;
        color: $cor-text-body;
        font-weight: 400;
        
    }
}

.menu-responsivo {
    display: none;
    gap: 16px;
    .botao-menu {
        border: none;
        background: none;
        font-size: 20px;
        color: $cor-text-body;
    }
}

.menu-social {
    a {
        color: $cor-text-body;
        font-size: 20px;
    }
}

.esquerda {
    width: 568px;
    button {
        padding-left: 64px;
        padding-right: 64px;
        height: 64px;
        max-width: 360px;
        background-color: $cor-bg-button;
        box-sizing: border-box;
        border: 2px solid $cor-border-button;
        border-radius: 4px;
    }
}

.direita{
    margin: 0;
    img{
        width: 350px;
        height: 350px;
        border-radius: 100%;
        object-fit: cover;
    }
}



.lista-sem-estilo {
    list-style: none;
}

.link-sem-estilo {
    text-decoration: none;
}

.heading {
    color: $cor-text-title;
    font-family: $font-titulo;
}

.heading-1 {
    @extend .heading;
    font-size: 44px;
    font-weight: 800;
}

.heading-2{
    @extend .heading;
    font-size: 24px;
    font-weight: 200;
}

.body-1 {
    font-size: 16px;
    color: $cor-text-title;
    font-weight: 700;
}

.body-2 {
    font-size: 14px;
    color: $cor-text-body;
    font-weight: 400;
}
